// Background
@mixin background {
  transition: background 200ms;
  background: #{$background_color};
}

// Push
@mixin push {
  animation: push 400ms;
  background: #{$background_color};
}

// Push keyframes
@keyframes push {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

// Blur
@mixin blur {
  transition: filter 200ms;
  filter: blur(5px);
  border-color: transparent;
  &:hover,
  &:active {
    filter: none;
  }
}

// Slider
@mixin slider {
  .topic-list-item-clicked {
    // Hide the top  main slider if a topic list item clicked
    .loading-indicator-container {
      &.loading,
      &.still-loading {
        opacity: 0 !important;
      }
    }
    // Adding slider loader to topic list item
    .topic-list-item {
      &:hover,
      &:active {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;          
          width: 100%;
          height: 3px;
          opacity: 1;
          transition: opacity 0s;
          transform-origin: left;
          background-color: var(--tertiary);
          animation: slider 400ms ease-in;
          z-index: 2; // Topic List Thumbnails theme component compatibility
        }
      }
    }
  }
}

// Slider keyframes
@keyframes slider {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
