{{#if (eq (theme-setting "no_touch_click_style") "slider")}}
  {{#unless this.capabilities.touch}}
    <div class="loading-indicator-container">
      <div class="loading-indicator"></div>
    </div>
  {{/unless}}
{{/if}}

{{#if (eq (theme-setting "touch_click_style") "slider")}}
  {{#if this.capabilities.touch}}
    <div class="loading-indicator-container">
      <div class="loading-indicator"></div>
    </div>
  {{/if}}
{{/if}}
