@import "animations";

.topic-list-item {
  @include user-select(none);
  
  // Discourse Touch
  .discourse-touch & {
    > * {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    img.avatar {
      &:active {
        filter: brightness(0.7);
      }
    }
  }
  
  // Discourse No Touch
  .discourse-no-touch & {
    &:hover,
    &:active {
      cursor: pointer;
    }
  }
  
  // Background animation
  @if ($no_touch_click_style == "background" or $no_touch_click_style == "push") {
    .discourse-no-touch & {
      &:hover,
      &:active {
        @include background;
      }
    }
  }

  .topic-list-item-clicked & {
    &:hover,
    &:active {
      @if $no_touch_click_style == "background" {
        .discourse-no-touch & {
          @include background;
        }
      }
      @if $touch_click_style == "background" {
        .discourse-touch & {
          @include background;
        }
      }
    }
  }

  // Push animation
  .topic-list-item-clicked & {
    &:hover,
    &:active {
      @if $no_touch_click_style == "push" {
        .discourse-no-touch & {
          @include push;
        }
      }
      @if $touch_click_style == "push" {
        .discourse-touch & {
          @include push;
        }
      }      
    }
  }

  // Blur animation
  .topic-list-item-clicked & {
    @if $no_touch_click_style == "blur" {
      .discourse-no-touch & {
        @include blur;
      }
    }
    @if $touch_click_style == "blur" {
      .discourse-touch & {
        @include blur;
      }
    }    
  }  

  // On Desktop View make clickable Views
  .desktop-view & {
    .views {
      position: relative;
      z-index: 1;
      .number {
        position: relative;
        z-index: -1;
      }
    }
  }
}

// Slider animation
@if $no_touch_click_style == "slider" {
  .discourse-no-touch {
    @include slider;
  }
}

@if $touch_click_style == "slider" {
  .discourse-touch {
    @include slider;
  }
}

// Hide topic list item focused
.topic-list .main-link.focused {
  box-shadow: none;
}
